* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.main_div {
  width: 100%;
  height: 100vh;
  position: relative;
}

.box {
  width: 400px;
  height:600px;
  position: absolute;
  left: 75%;
  top:30%;
  transform: translate(-50%, -50%);
  padding: 50px;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 10px 10px 10px 10px rgb(233, 233, 237);

}

.box h1 {
  margin-bottom: 25px;
  color:black;
  text-align: center;
  text-transform: capitalize;
  padding-bottom:80px;
}

.box .input-box {
  position: relative;
 
}

.box .input-box input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  letter-spacing: 1px;
  color:black;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid rgb(216, 212, 212);
  background: transparent;
  outline: none;
}


.box .input-box label {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 1px;
  padding: 10px 0;
  font-size: 16px;
  color:black;
  transition: 0.5s;
}

.box input[type="submit"] {
  background: transparent;
  border: none;
  outline: none;
  color: black;
  background: #f8f9f9;
  padding: 10px 18px;
  border-radius: 5px;
  font-size: 14px;
}

.box .input-box input:focus~label, .box .input-box input:valid~label {
  top: -20px;
  left: 0;
  font-size: 12px;
  color: #edf6fb;
}

.button{
  align-items: center;
  left:35%;
  text-decoration:none;
  color:white;
}
.button:hover {
  color: white;
}
.button2{
  text-decoration:none;
  color:white;
}
p{
  color:rgb(98, 98, 98);
  font-size:12px;
}

.align{
text-align: center;
  background-color: blue;
  color: white;
}
@media screen and (max-width: 800px) {
  .box {
  
    top:60%;

  }
}
@media screen and (max-width: 400px) {
  .box {
 
    top:70%;
   
  
  }
}